// === Layout ===
$mobile-width: 375px;
$desktop-width: 1440px;
$min-screen-width: 320px;

// === Cores ===
$almost-white: hsl(0, 0%, 98%);
$medium-gray: hsl(0, 0%, 41%);
$almost-black: hsl(0, 0%, 8%);

// === Tipografia ===
$font-family: "Epilogue", sans-serif;
$font-size-body: 18px;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Media Queries para responsividade
@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin responsive {
  @media (min-width: #{$min-screen-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
